<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446940063019-hm2ncuvc0nr0u0nsph5b2ftlhr8bjh0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446940063019-hm2ncuvc0nr0u0nsph5b2ftlhr8bjh0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBuG6SSQPGa3mktvyyvEaOqCrsN8VEEIus</string>
	<key>GCM_SENDER_ID</key>
	<string>446940063019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yutay.productTest</string>
	<key>PROJECT_ID</key>
	<string>wakemeupswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>wakemeupswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446940063019:ios:c08ceeb056218a55d6516e</string>
</dict>
</plist>